* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

body {
    background-image: url("../img/游洧높洧눒洧눓洧눌洧눅洧눒洧눅\ 洧洧눅洧눇洧눌洧눍洧눕洧눘游.jpg");
    background-position: center;
    background-size: cover;
}

button {
    background-color: #1d1d1d;
    color: #ce0000;
    border: 2px solid #ce0000;
    padding: .3rem .6rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

button:hover > i {
    color: #fdfdfd;
}

button i {
    color: #ce0000;
    font-weight: bold;
}

input, select {
    padding: rem 0.5rem;
}

.hide {
    display: none;
}

/* Todo */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

#todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* Todo form*/

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}


#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input{
    margin-right: 0.3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4{
    margin-bottom: 5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}


#search form {
    display: flex;
}

#search input{
    width: 100%;
    margin-right: .3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}